# MacOS
.DS_Store
**/.DS_Store

# Enviroment
.env

# AI
GEMINI.md
CLAUDE.md

# User customizations (personal overrides, never tracked or overwritten by updates)
nvim/lua/user.lua
nvim/lua/user-plugins.lua
